<launch>
	<param name = "convex_hull/reference_frame" type = "string" value = "/world" />
	<param name = "convex_hull/openrave_show_grasps" type = "bool" value = "false" />
	<param name = "convex_hull/openrave_show_ik" type = "bool" value = "true" />
	<param name = "convex_hull/using_atlas" type = "bool" value = "true" />
	<param name = "convex_hull/debug_and_logging" type = "string" value = "minimal" />
	<param name = "convex_hull/perception_link" type = "string" value = "/hokuyo_link" />
	<param name = "convex_hull/output_pose_frame" type = "string" value = "/pelvis" />
	<param name = "convex_hull/pregrasp_offset" type = "double" value = "0.15" />

	<param name = "convex_hull/mesh_ref_frame" type = "string" value = "/pelvis" />
	<param name = "convex_hull/torso_link" type = "string" value = "/utorso" />
	<param name = "/openrave/show_atlas" type = "bool" value = "true" />
	<param name = "convex_hull/ik_joint_limit_tolerance" type = "double" value = "0.0" />

	<param name = "/convex_hull/planning_scene_topic" type = "string" value = "/flor/planning/planning_scene" />

	<include file = "$(find hullify)/launch/core_pipeline.launch" />
</launch>
