<launch>
	<param name = "convex_hull/reference_frame" type = "string" value = "/world" />
	<param name = "convex_hull/openrave_show_grasps" type = "bool" value = "false" />
	<param name = "convex_hull/using_atlas" type = "bool" value = "true" />
	<param name = "convex_hull/debug_and_logging" type = "string" value = "minimal" />
	<param name = "convex_hull/perception_link" type = "string" hokuyo = "/value_link" />

	<param name = "convex_hull/mesh_ref_frame" type = "string" value = "/pelvis" />

	<include file = "$(find hullify)/launch/core_pipeline.launch />
</launch>
