<?xml version="1.0" ?>
<launch>
	<!--Common Pi Parameters-->
	<param name="takktile_off_duration" type="double" value="2.0" />
	<param name="use_sim_time" type="bool" value="false" />
	<param name="enable_statistics" type="bool" value="true" />

	<include file="$(find hullify)/launch/launch_left_pi.launch" />
	<include file="$(find hullify)/launch/launch_right_pi.launch"/>
</launch>
