<?xml version="1.0" ?>
<launch>
	<arg name="hand"/>
	<arg name="hand_full"/>
	<arg name="cam_ns"/>
	<arg name="framerate"/>
	<arg name="pi_machine_name"/>

	<include file="$(find hullify)/launch/$(arg pi_machine_name).machine" />

	<!-- Start up the raspberry pi's camera -->
	<node machine="$(arg pi_machine_name)" name="raspicam_node" type="raspicam_node" pkg="raspicam" output="screen" args="_tf_prefix:=$(arg hand_full)_palm_camera_optical_frame _framerate:=$(arg framerate)" >
		<remap from="camera/camera_info" to="$(arg cam_ns)/camera_info_pi" />
		<remap from="camera/image/compressed" to="$(arg cam_ns)/image/compressed" />
	</node>

	<!-- Start up the takktiles: data and sensor info relays and raspberry pi takktile process -->
	<!--<arg name="tactile_data_intermediate_topic" value="$(arg hand_full)_hand/tactile/calibrated" />
	<arg name="tactile_info_intermediate_topic" value="$(arg hand_full)_hand/tactile/sensor_info" />
	<node machine="$(arg pi_machine_name)" name="$(arg hand)_hand_takktile_node" type="takktile_node.py" pkg="takktile_ros" output="screen" respawn="true"> 
		<remap to="$(arg tactile_data_intermediate_topic)" from="takktile/calibrated" />
		<remap to="$(arg tactile_info_intermediate_topic)" from="takktile/sensor_info" />
	</node>-->
	<!--<node type="relay" name="$(arg hand)_tactile_data_relay" pkg="topic_tools" args="$(arg tactile_data_intermediate_topic) $(arg hand_full)_hand/tactile_data" />
	<node type="relay" name="$(arg hand)_tactile_info_relay" pkg="topic_tools" args="$(arg tactile_info_intermediate_topic) $(arg hand_full)_hand/sensor_info" />-->
	<!--<node machine="$(arg pi_machine_name)" name="takktile_reset" type="takk_electric_reset.py" pkg="takktile_ros" output="screen" >
		<param name="hand_side" value="$(arg hand_full)" type="str" />
		<param name="takktile_reset_topic" value="takktile/calibrated" type="str" />
	</node>-->

	<!-- Startup a takktile data processor and republisher-->
	<!--<node machine="$(arg pi_machine_name)" name="contact_node" type="contact_node.py" pkg="takktile_ros" output="screen">
		<param name="hand_side" value="$(arg hand_full)" type="str" />
	</node>-->

	<!-- Start up the microphone procecssor -->
	<node machine='$(arg pi_machine_name)' name="audio_analysis_node" type="vigir_audio_analysis_node" pkg="vigir_audio_analysis" output="screen" ns="onboard"/>

</launch>
