<?xml version="1.0" ?>
<launch>
	<!-- Pi launch parameters -->
	<arg name="hand" default="l" />
	<arg name="hand_full" default="left" />
	<arg name="pi_machine_name" default="$(arg hand)_pi" />
	<arg name="cam_ns" value="$(arg hand_full)_palm/camera" /> <!-- This must be the same as in the onboard_crop_decimate_nodelets launch -->
	<arg name="framerate" value="10" />

<group ns="$(arg hand)_pi">
	<include file="$(find hullify)/launch/pi_atlas.launch">
		<arg name="hand" value="$(arg hand)"/>
		<arg name="hand_full" value="$(arg hand_full)"/>
		<arg name="cam_ns" value="$(arg cam_ns)"/>
	</include>
	
	<!-- This node will launch the pi's onboard software -->
	<node type="launch_pi.py" name="launch_pi" pkg="hullify" args="hand:=$(arg hand) hand_full:=$(arg hand_full) pi_machine_name:=$(arg pi_machine_name) cam_ns:=$(arg cam_ns) framerate:=$(arg framerate)" output="screen"/>
</group>
</launch>
