
<launch>
  
  <group ns="sandia_hands/l_hand">
  <node pkg="sandia_hand_driver" type="sandia_hand_node" name="sandia_driver_left_hand" output="screen" respawn="true">  
    <param name="ip" value="10.66.171.22" type="string"/>
  </node>
  </group>

  <node pkg="flor_grasp_controllers" type="sandia_joint_states_node" name="sandia_joints_left_hand" output="screen" respawn="true">  
    <param name="hand" value="left" type="string"/>
  </node>
    
 <node pkg="tf" type="static_transform_publisher" name="r_hand_to_robot" args="0 0 0 0 0 0 /pelvis /stereo_cam 10"/> 

</launch>
