<?xml version="1.0"?>
<!-- This launch file uses the basic Grasp controller plugin. -->

<launch>
<arg name="launch_prefix" default="xterm -e gdb -ex run --args"/> <!-- "/> -->
<arg name="right_hand_name" default="10.66.171.136" />

<node name="right_grasp_controller" pkg="flor_grasp_controllers" type="irobot_grasp_controller_node" respawn="true"  > <!--launch-prefix="$(arg launch_prefix)" output="screen" -->

    <param name="hand" value="r_hand" />
    <param name="filename" value="$(find vigir_template_library)/grasp_library_irobot.grasp" />

    <remap from="template_selection" to="/template/r_hand_template_match_request" />
    <remap from="hand_offset"        to="/template/r_hand_template_offset" />
    <!-- remap from="template_selection" to="/grasp_control/template_selection" / IF USING MATCHING (OTHERWISE GRAB PLACEMENT) -->
    <remap from="mode_command"       to="/grasp_control/r_hand/mode_command" />
    <remap from="grasp_selection"    to="/grasp_control/r_hand/grasp_selection" />
    <remap from="release_grasp"      to="/grasp_control/r_hand/release_grasp" />

    <remap from="active_state"       to="/grasp_control/r_hand/active_state" />
    <remap from="grasp_status"       to="/grasp_control/r_hand/grasp_status" />
    <remap from="hand_mass"          to="/grasp_control/r_hand/hand_mass" />
    <remap from="irobot_states"      to="/grasp_control/r_hand/tactile_feedback" />
    <remap from="wrist_target"       to="/grasp_control/r_hand/target_pose" />
    <remap from="template_stitch_pose"       to="/grasp_control/r_hand/template_stitch_pose" />
    <remap from="wrist_plan"         to="/grasp_control/r_hand/plan_request" />
    <remap from="template_stitch"    to="/grasp_control/r_hand/template_stitch_request" />
    <remap from="wrist_pose"         to="/flor/r_arm_current_pose" />
    <remap from="planner_status"     to="/grasp_planning/r_hand/status" />
    <remap from="controller_mode"    to="/flor/controller/mode" />
</node>

<!-- 
<node pkg="handle_ros" type="handle_ros" name="handle_ros_right_hand" output="screen" respawn="true">  
    <param name="hand_name" value="$(arg right_hand_name)" type="string"/>
    <param name="hand_port" value="3490" type="string"/>
    <param name="hand_udp" value="false" type="bool"/>
    <remap from="/handle/sensors/raw" to="/right_hand/sensors/raw"/>
    <remap from="/handle/control" to="/right_hand/control"/>
    <remap from="/handle/calibrate" to="/right_hand/calibrate"/>
</node>


  <node name="right_grasp_ui" pkg="vigir_ocs_grasp_widget" type="grasp_widget"     respawn="true"> 
        <param name="/graspWidget/hand" value="right" />

        
        <remap from="/template/grasp_mode_command" to="/grasp_control/r_hand/mode_command" />
        <remap from="/template/grasp_selection"    to="/grasp_control/r_hand/grasp_selection" />
        <remap from="/template/release_grasp"      to="/grasp_control/r_hand/release_grasp" />

        
        <remap from="/template/active_state"            to="/grasp_control/r_hand/active_state" />
        <remap from="/template/template_match_feedback" to="/grasp_control/template_selection" />

  </node>
-->

</launch>
