<launch>
  
  <!-- ATLAS RIGHT HAND IP = 10.66.171.23 -->
  <arg name="right_hand_name" default="10.66.171.23" />

  <node pkg="robotiq_s_model_control" type="SModelTcpNode.py" name="robotiq_right_hand" output="screen" respawn="true" args="$(arg right_hand_name)">  
  <remap from="SModelRobotInput"  to="/robotiq_hands/r_hand/SModelRobotInput"/>
  <remap from="SModelRobotOutput" to="/robotiq_hands/r_hand/SModelRobotOutput"/>
  </node>

  <node pkg="flor_grasp_controllers" type="robotiq_joint_states_node" name="robotiq_jointstates_right_hand" output="screen" respawn="true" >  
    <param name="hand" value="right" type="string"/>
  </node>

</launch>
